[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
buildArgs = ["NEXT_PUBLIC_API_URL"]

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
